#logo{
  width: 100px;
}
h1, h3{
  text-align: center;
}
.profile-photo{
  width: 100%;
}
img{
  width: 100%;
}
.image-table-product{
  width: 50px;
}
tr{
  text-align: center;
}
td{
  align-content: center;
}
small{
  color: red  ;
  text-align: left;
}